.button {
    top: 40%;
    position: absolute;
    background-color: white;
    padding: 20px;
    border: 3px solid black;
    border-radius: 2px;
    font-size: 30px;
    font-weight: bolder;
}

.cen {
    text-align: center;
}

#cent {
    height: 100px;
    width: 100px;
}